<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>About</title>
        <link rel="icon" href="/img/favicon.png">

    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This website was created by Daniel Ionita part of a NodeJS Course</p>
            <p>This website is using mapbox.com for geocoding and darksky API for real time weather information</p>
        <img class="portrait" src="/img/portrait.jpg">

        </div>
     {{>footer }}   
    </body>
        

</html>